extends ../../partials/_admin_template

block content
  include ../../partials/admin/header

  .container
    h2.mt-4 Car manufacture
    form(action="/admin/car-types/add-car-manufacture" method="POST" encType="multipart/form-data")
      .form-row.mt-2
        .form-group.col-md-6
          input#formGroupExampleInput.form-control(type='text' name='name' placeholder='Manufacture name')
        .form-group.col-md-6.custom-file
          input#file.custom-file-input(type='file', name='manufactureLogo')
          label.custom-file-label(for='file') Manufacture logo 
      button.btn.btn-primary(type="submit") Add car manufacture
        
