extends ../../partials/_admin_template

block content
  include ../../partials/admin/header
  
  .container
    .custom-file
      form
        .form-row
          .form-group.col-md-6
            label(for='formGroupExampleInput') Admin Name
            input#formGroupExampleInput.form-control(type='text' name='name' placeholder='Name')
          .form-group.col-md-6
            input#customFile.custom-file-input(type='file')
            label.custom-file-label(for='customFile') Choose file
