.container
  .h-catalog.js-head-catalog
    .h-catalog__btn.js-head-catalog-btn
      span.h-catalog__btn-burger
      | Все автомобили
      .h-catalog__close
    .h-catalog__drop
      ul.h-catalog__list
        each car in header.carManufacturerList
          li.h-catalog__list-item
            a.h-catalog__link(href=`car-manufacturer/${car.manufacturer}`)
              img.h-catalog__link-img(src= car.imgUrl alt='')
              span.h-catalog__link-text= car.title
       
      if (header.hasBodiesLink)
        include header_catalog_bodies
