.container
  .h-catalog.js-head-catalog
    .h-catalog__btn.js-head-catalog-btn
      span.h-catalog__btn-burger
      |         &Vcy;&scy;&iecy; &acy;&vcy;&tcy;&ocy;&mcy;&ocy;&bcy;&icy;&lcy;&icy;
      .h-catalog__close
    .h-catalog__drop
      ul.h-catalog__list
        li.h-catalog__list-item
          a.h-catalog__link(href='#')
            img.h-catalog__link-img(src='pic/model/kia.png' alt='')
            span.h-catalog__link-text Kia
        li.h-catalog__list-item
          a.h-catalog__link(href='#')
            img.h-catalog__link-img(src='pic/model/nissan.png' alt='')
            span.h-catalog__link-text Nissan
        li.h-catalog__list-item
          a.h-catalog__link(href='#')
            img.h-catalog__link-img(src='pic/model/hyundai.png' alt='')
            span.h-catalog__link-text Hyundai
        li.h-catalog__list-item
          a.h-catalog__link(href='#')
            img.h-catalog__link-img(src='pic/model/reno.png' alt='')
            span.h-catalog__link-text mazda
        li.h-catalog__list-item
          a.h-catalog__link(href='#')
            img.h-catalog__link-img(src='pic/model/skoda.png' alt='')
            span.h-catalog__link-text uaz
        li.h-catalog__list-item
          a.h-catalog__link(href='#')
            img.h-catalog__link-img(src='pic/model/ford.png' alt='')
            span.h-catalog__link-text peugeot
        li.h-catalog__list-item
          a.h-catalog__link(href='#')
            img.h-catalog__link-img(src='pic/model/lada.png' alt='')
            span.h-catalog__link-text suzuki
        li.h-catalog__list-item
          a.h-catalog__link(href='#')
            img.h-catalog__link-img(src='pic/model/kia.png' alt='')
            span.h-catalog__link-text toyota
        li.h-catalog__list-item
          a.h-catalog__link(href='#')
            img.h-catalog__link-img(src='pic/model/kia.png' alt='')
            span.h-catalog__link-text ssangyong
        li.h-catalog__list-item
          a.h-catalog__link(href='#')
            img.h-catalog__link-img(src='pic/model/kia.png' alt='')
            span.h-catalog__link-text reno
        li.h-catalog__list-item
          a.h-catalog__link(href='#')
            img.h-catalog__link-img(src='pic/model/kia.png' alt='')
            span.h-catalog__link-text ravon
        li.h-catalog__list-item
          a.h-catalog__link(href='#')
            img.h-catalog__link-img(src='pic/model/ford.png' alt='')
            span.h-catalog__link-text peugeot
        li.h-catalog__list-item
          a.h-catalog__link(href='#')
            img.h-catalog__link-img(src='pic/model/lada.png' alt='')
            span.h-catalog__link-text suzuki
        li.h-catalog__list-item
          a.h-catalog__link(href='#')
            img.h-catalog__link-img(src='pic/model/kia.png' alt='')
            span.h-catalog__link-text toyota
        li.h-catalog__list-item
          a.h-catalog__link(href='#')
            img.h-catalog__link-img(src='pic/model/kia.png' alt='')
            span.h-catalog__link-text ssangyong
        li.h-catalog__list-item
          a.h-catalog__link(href='#')
            img.h-catalog__link-img(src='pic/model/kia.png' alt='')
            span.h-catalog__link-text reno
        li.h-catalog__list-item
          a.h-catalog__link(href='#')
            img.h-catalog__link-img(src='pic/model/kia.png' alt='')
            span.h-catalog__link-text ravon
        li.h-catalog__list-item
          a.h-catalog__link(href='#')
            img.h-catalog__link-img(src='pic/model/kia.png' alt='')
            span.h-catalog__link-text Kia
        li.h-catalog__list-item
          a.h-catalog__link(href='#')
            img.h-catalog__link-img(src='pic/model/kia.png' alt='')
            span.h-catalog__link-text Kia
        li.h-catalog__list-item
          a.h-catalog__link(href='#')
            img.h-catalog__link-img(src='pic/model/kia.png' alt='')
            span.h-catalog__link-text Kia
        li.h-catalog__list-item
          a.h-catalog__link(href='#')
            img.h-catalog__link-img(src='pic/model/kia.png' alt='')
            span.h-catalog__link-text Kia
        li.h-catalog__list-item
          a.h-catalog__link(href='#')
            img.h-catalog__link-img(src='pic/model/kia.png' alt='')
            span.h-catalog__link-text Kia
        li.h-catalog__list-item
          a.h-catalog__link(href='#')
            img.h-catalog__link-img(src='pic/model/kia.png' alt='')
            span.h-catalog__link-text Kia
        li.h-catalog__list-item
          a.h-catalog__link(href='#')
            img.h-catalog__link-img(src='pic/model/kia.png' alt='')
            span.h-catalog__link-text Kia
        li.h-catalog__list-item
          a.h-catalog__link(href='#')
            img.h-catalog__link-img(src='pic/model/kia.png' alt='')
            span.h-catalog__link-text Kia
        li.h-catalog__list-item
          a.h-catalog__link(href='#')
            img.h-catalog__link-img(src='pic/model/kia.png' alt='')
            span.h-catalog__link-text Kia
        li.h-catalog__list-item
          a.h-catalog__link(href='#')
            img.h-catalog__link-img(src='pic/model/kia.png' alt='')
            span.h-catalog__link-text datsun
        li.h-catalog__list-item
          a.h-catalog__link(href='#')
            img.h-catalog__link-img(src='pic/model/kia.png' alt='')
            span.h-catalog__link-text dongfeng
        li.h-catalog__list-item
          a.h-catalog__link(href='#')
            img.h-catalog__link-img(src='pic/model/kia.png' alt='')
            span.h-catalog__link-text datsun
        li.h-catalog__list-item
          a.h-catalog__link(href='#')
            img.h-catalog__link-img(src='pic/model/kia.png' alt='')
            span.h-catalog__link-text citroen
        li.h-catalog__list-item
          a.h-catalog__link(href='#')
            img.h-catalog__link-img(src='pic/model/kia.png' alt='')
            span.h-catalog__link-text changan
        li.h-catalog__list-item
          a.h-catalog__link(href='#')
            img.h-catalog__link-img(src='pic/model/brilliance.png' alt='')
            span.h-catalog__link-text Kia
        li.h-catalog__list-item
          a.h-catalog__link(href='#')
            img.h-catalog__link-img(src='pic/model/audi.png' alt='')
            span.h-catalog__link-text Kia
            
      if (header.hasBodiesLing)
        include ./header_catalog_bodies
