.h-catalog__bodies
  a.h-catalog__bodies-link(href='#')
    span.h-catalog__bodies-img
      img(src='pic/car/car-1.jpg' alt='')
    span.h-catalog__bodies-title Малолитражки
    span.h-catalog__bodies-price от 130 000 руб
  a.h-catalog__bodies-link(href='#')
    span.h-catalog__bodies-img
      img(src='pic/car/car-2.jpg' alt='')
    span.h-catalog__bodies-title Седаны
    span.h-catalog__bodies-price от 270 000 руб
  a.h-catalog__bodies-link(href='#')
    span.h-catalog__bodies-img
      img(src='pic/car/car-3.jpg' alt='')
    span.h-catalog__bodies-title Хэтчбеки
    span.h-catalog__bodies-price от 320 000 руб
  a.h-catalog__bodies-link(href='#')
    span.h-catalog__bodies-img
      img(src='pic/car/car-4.jpg' alt='')
    span.h-catalog__bodies-title Универсалы
    span.h-catalog__bodies-price от 1 620 000 руб
  a.h-catalog__bodies-link(href='#')
    span.h-catalog__bodies-img
      img(src='pic/car/car-5.jpg' alt='')
    span.h-catalog__bodies-title Внедорожники
    span.h-catalog__bodies-price от 1 900 000 руб
